
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% / var(--grid-items));
  height: calc(50vw / var(--grid-items));
  overflow: hidden;

  .chart {
    position: relative;
    border-radius: 20px;
    padding: 2px;

    width: calc(100% * .95);
    height: 90%;

    background: var(--frameGreen);
    color: #000 !important;

  }
}
